$heartActivatedColor: #d12929;
$heartDeactivatedColor: #F56C6C;

$linkColor: #1976D2;

$secondaryTextColor: #333;
$lightBorderColor: #DDD;

$menuForegroundColor: #555;
$menuBackgroundColor: transparent;

$menuSelectedForegroundColor: #2895F9;
$menuSelectedBackgroundColor: #E5F3FF;